* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

#container {
    max-width: 600px;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.5);

    margin: 100px auto;
    border-radius: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#to-do-heading {
    display: flex;
    flex-direction: column;
}

#to-do-heading .heading {
    text-align: center;
    padding: 16px;
    text-transform: uppercase;
}

#to-do-heading .to-do-description {
    font-size: 18px;
    text-align: center;
    padding-bottom: 16px;

}

#to-do-heading .wrapper {
    position: relative;
    text-align: center;
}

#to-do-heading #input-to-do {
    font-family: -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    background-color: rgb(28, 28, 30);
    box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: .4s;
    padding: 8px 80px 8px 8px;
    width: 75%;
    margin: 0 auto;
}

#to-do-heading #input-to-do.invalid {
    box-shadow: 0 0 8px rgba(246, 0, 0, 0.8), 0 0 0 .15vw transparent !important;
}

#to-do-heading #input-to-do:focus {
    box-shadow: 0 0 8px skyblue, 0 0 0 .15vw transparent;

}

#to-do-heading button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 78px;
    height: 30px;
    width: 70px;
    border: none;
    background-color: #EF9651;
    border-radius: 12px;
    font-weight: bold;
}

#to-do-heading button:hover {
    cursor: pointer;
    background-color: #ef5151;
}

#to-do-body #to-do-list {
    list-style: none;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 62px;
    padding: 16px;
}

#to-do-list .to-do-item {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

#to-do-list .to-do-item label {
    padding: 2px;
}

#to-do-list .to-do-item label:hover {
    background-color: #ef5151;
    border-radius: 4px;
    text-decoration: line-through;
}

#to-do-list .to-do-item input[type="checkbox"] {
    display: inline-block;
    transform: scale(1.5);
    margin-left: auto;
}

@media screen and (max-width: 540px) {
    #to-do-heading button {
        transform: translate(40%, -50%);
    }
}